@import url(./_normalize.scss);
@import url(./layout.scss);
@import url(./element-ui.scss);

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  font-size: 0.2rem;
}

#app {
  height: 100%;
  margin: 0;
}

/* 布局
------------------------------ */
.layout-container {
  height: 100%;
}

header {
  .menu-logo {
    float: left !important;
  }

  a {
    text-decoration: none;
    img {
      height: 0.6rem;
    }
  }
  .menu-content {
    margin-left: 3rem;
  }
}

footer {}