/* 1.首页
------------------------------ */
.home {
  background-image: url("../../public/static/image/background.png");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 10rem;
  z-index: -10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}

/* 2.估值表页面
------------------------------ */
// 
#myChart {
  width: 3.5rem;
  height: 3.5rem;
}

//估值表 
.progress {
  background-color: rgb(239, 243, 243);

  .layout {
    width: 7.6rem;

    .kinds {
      font-weight: bold;
      line-height: 0.5rem;
    }

    .gauge {
      background-color: rgb(255, 255, 255);
    }

    .surplus {
      margin-top: 0.2rem;
    }

    .kind {
      background-color: rgb(255, 255, 255);

      .top {
        .name {}

        .index {
          color: #b6b7b7;
        }

        .on {
          color: #b6b7b7;
        }

        .over {
          color: #b6b7b7;
        }
      }

      .middle {
        font-size: 0.15rem;

        .under {}

        .over {}

        .high {
          float: right;
        }
      }

      .bottom {
        text-align: center;

        .under {
          width: 2.5rem;
          height: 0.25rem;
          margin: 0 auto;
          border: black 0.01rem solid;
        }

        .normal {
          width: 2.5rem;
          height: 0.25rem;
          margin: 0 auto;
          border: black 0.01rem solid;

        }

        .over {
          width: 2.5rem;
          height: 0.25rem;
          margin: 0 auto;
          border: black 0.01rem solid;

        }

        .range {
          height: 0.25rem;
        }

        .num {
          margin-top: -0.25rem;

          .left {

            font-size: 0.15rem;
            margin-top: 0.03rem;
          }

          .center {
            font-weight: bold;
          }

          .right {

            font-size: 0.15rem;
            margin-top: 0.03rem;
          }
        }
      }

      .floor {
        font-size: 0.15rem;
        margin-top: 0.03rem;
        margin-bottom: 0.08rem;
        height: 0.18rem;

        .under {
          width: 2.35rem;
          height: 0.25rem;
        }

        .normal {
          width: 2.35rem;
          height: 0.25rem;
        }

        .over {
          width: 2.35rem;
          height: 0.25rem;
        }
      }
    }
  }
}

/* 3.复利计算页面
------------------------------ */
.compound-interest {
  text-align: center; // 字体居中

  .img-style {
    // 图片大小
    width: 3rem;
    height: 2rem;
  }

  .card-style {
    // card居中布局
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .el-card {
    width: 4rem;
    line-height: 0.62rem;
  }

  .el-card__header {
    background-color: lightseagreen;
    font-size: 0.18rem;
    font-weight: bold;
    height: 1rem;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* 4.定投计算页面
------------------------------ */
.fixed-investment {
  /* card居中布局 */
  margin-top: 1.5rem;
  text-align: center; // 字体居中
  display: flex;
  justify-content: center;
  align-items: center;

  .el-card {
    width: 15rem;
    line-height: 0.62rem;
  }

  .el-card__header {
    background-color: lightseagreen;
    font-size: 0.2rem !important;
    font-weight: bold;
    height: 1.2rem;
    line-height: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .slot-header {
      width: 14rem;
    }
  }

  .primary-body {
    .el-card {
      width: 12rem;
      line-height: 0.62rem;
      margin-left: 1.3rem !important;
    }

    .el-card__header {
      background-color: white;
      font-size: 0.18rem !important;
      font-weight: bold;
      height: 1.2rem;
      line-height: 0.4rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .slot-header {
        width: 10rem;
      }
    }

    .secondary-body {
      .el-card {
        width: 5rem;
        line-height: 0.62rem;
        margin-left: 0.4rem !important;
      }

      .el-card__header {
        background-color: white;
        font-size: 0.18rem !important;
        font-weight: bold;
        height: 1.2rem;
        line-height: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .slot-header {
          width: 4rem;
        }
      }
    }
  }
}